@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <h1>Looks like your not logged in :(</h1>

    <h2>Fix that here!</h2>
    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Sign up</a>
}
else {
    <h1>Your Logged in :)</h1>

    <a asp-controller="Profile" asp-action="Create" class="btn btn-dark">Create Profile</a>

}